* {
    margin: 0;
    background-size: 100%;
    font-family: "Monaco", monospace;
}

h1.mainTitle {
    text-align: center;
    font-size: 75px;
    margin-top: 2%;
}

h3.mainSubTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

/* body.bodyClass {
    background-color: #DE7E71;
} */

div.lineOne {
    border: 3px solid black;
    margin-top: 0%;
}

div.headerTitle {
    background-color: #91D681;
    padding: 20px 20px 80px 20px;
}

div.footerLine {
    border: 3px solid black;
    margin-top: 5%;
}

div.footerRow {
    background-color: #91D681;
    padding: 20px 20px 80px 20px;
}