* {
    margin: 0;
    background-size: 100%;
    font-family: "Monaco", monospace;
    font-size: 25px;
}

h1.mainTitle {
    text-align: center;
    font-size: 75px;
    margin-top: 2%;
}

h3.mainSubTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

div.lineOne {
    border: 3px solid black;
    margin-top: 0%;
}

div.headerTitle {
    background-color: #81B0D6;
    padding: 20px 20px 80px 20px;
}

p.paragraphOne {
    text-align: center;
    margin-top: 5%;
}

p.paragraphTwo {
    text-align: center;
    margin-top: 2%;
}

p.paragraphThree {
    text-align: center;
    margin-top: 1%;
}

p.paragraphFour {
    text-align: center;
    margin-top: 10%;
}

p.paragraphFour1 {
    text-align: center;
    margin-top: 1%;
}

h3.codeReview {
    text-align: center;
    margin-top: 5%;
    font-size: 45px;
}

div.footerLine {
    border: 3px solid black;
    margin-top: 5%;
}

div.footerRow {
    background-color: #81B0D6;
    padding: 20px 20px 80px 20px;
}

h4.constructorTitle {
    text-align: center;
    font-size: 45px;
    margin-top: 2%;
}

img.constructorImage {
    margin-left: 40%;
}

div.boxFive {
    margin-left: 25%;
}

p.paragraphFive {
    margin-top: 3%;
}

h4.loadTitle {
    margin-top: 8%;
    text-align: center;
    font-size: 45px;
}

img.loadImage {
    margin-left: 35%;
}

div.boxSix {
    margin-top: 2%;
    margin-left: 25%;
}

h4.displayTitle {
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}

img.displayImage {
    margin-left: 35%;
}

p.paragraphSeven {
    margin-top: 2%;
    text-align: center;
}

h4.addTitle {
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}

img.addImage {
    margin-left: 35%;
}

div.boxEight {
    margin-left: 25%;
    margin-top: 2%;
}

h4.searchTitle {
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}

img.searchImage {
    margin-left: 35%;
}

div.boxNine {
    margin-left: 25%;
    margin-top: 2%;
}

h4.sortTitle {
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}

img.sortImage {
    margin-left: 35%;
}

div.boxTen {
    margin-top: 2%;
    margin-left: 25%;
}

h4.removeTitle {
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}

img.removeImage {
    margin-left: 35%;
}

div.boxEleven {
    margin-top: 2%;
    margin-left: 30%;
}