* {
    margin: 0;
    background-size: 100%;
    font-family: "Monaco", monospace;
    font-size: 25px;
}

h1.mainTitle {
    text-align: center;
    font-size: 75px;
    margin-top: 2%;
}

h3.mainSubTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

div.lineOne {
    border: 3px solid black;
    margin-top: 0%;
}

div.headerTitle {
    background-color: #81B0D6;
    padding: 20px 20px 80px 20px;
}

p.paragraphOne {
    text-align: center;
    margin-top: 5%;
}

p.paragraphTwo {
    text-align: center;
    margin-top: 2%;
}

p.paragraphThree {
    text-align: center;
    margin-top: 1%;
}

p.paragraphFour {
    text-align: center;
    margin-top: 10%;
}

p.paragraphFour1 {
    text-align: center;
    margin-top: 1%;
}

h3.codeReview {
    text-align: center;
    margin-top: 5%;
}

div.footerLine {
    border: 3px solid black;
    margin-top: 5%;
}

div.footerRow {
    background-color: #81B0D6;
    padding: 20px 20px 80px 20px;
}