* {
    margin: 0;
    background-size: 100%;
    font-family: "Monaco", monospace;
    font-size: 25px;
}

h1.mainTitle {
    text-align: center;
    font-size: 75px;
    margin-top: 2%;
}

h3.mainSubTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

/* body.bodyClass {
    background-color: #DE7E71;
} */

div.lineOne {
    border: 3px solid black;
    margin-top: 0%;
}

div.headerTitle {
    background-color: #91D681;
    padding: 20px 20px 80px 20px;
}

div.footerLine {
    border: 3px solid black;
    margin-top: 5%;
}

div.footerRow {
    background-color: #91D681;
    padding: 20px 20px 80px 20px;
}

p.paragraphOne {
    margin-top: 5%;
    text-align: center;
}

p.paragraphTwo {
    margin-top: 2%;
    text-align: center;
}

p.paragraphTwo1 {
    margin-top: 2%;
    text-align: center;
}

h3.createHeader {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

img.createImage {
    margin-left: 40%;
    margin-top: 1%;
}

h3.readHeader {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

img.readImage {
    margin-left: 40%;
    margin-top: 1%;
}

h3.updateHeader {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

img.updateImage {
    margin-left: 40%;
    margin-top: 1%;
}

h3.deleteHeader {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

img.deleteImage {
    margin-left: 40%;
    margin-top: 1%;
}

div.boxThree {
    margin-left: 20%;
    margin-top: 5%;
}